@{
    ViewData["Title"] = "Product Register";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="AdminPae" asp-action="HomeAdministrator">Volver</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>
<br />
<br />
<form asp-controller="AdminPae" asp-action="ProductRegister" method="post">
    <div class="form-group">
        <label for="name" class="font-weight-bold text-center">Nombre:</label>
        <input type="text" name="name" class="form-control col-5 mx-auto" />
    </div>
    <div class="form-group">
        <label for="supplierId" class="font-weight-bold text-center">Proveedor:</label>
        <select name="supplierId" class="form-control col-5 mx-auto">
            <option value="">Seleccione un proveedor</option>
            @if (ViewBag.supplier != null)
            {
                @foreach (var item in ViewBag.supplier)
                {
                    <option value="@item.Text">@item.Text</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="unitId" class="font-weight-bold text-center">Unidad:</label>
        <select name="unitId" class="form-control col-5 mx-auto">
            <option value="">Seleccione una unidad</option>
            @if (ViewBag.unit != null)
            {
                @for (int i = 0; i < ViewBag.unit.Count; i++)
                {
                    <option value="@ViewBag.unit[i].Text">@ViewBag.unit[i].Text</option>
                }
            }
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-primary mx-auto d-block">REGISTRAR</button>
</form>
<br />
<br />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}