@model IEnumerable<RRSCONTROLLER.Models.MENU>

@{
    ViewData["Title"] = "Menus";
}


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="NutritionistInst" asp-action="HomeNutritionistINST">Volver</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" style="width: 55%;" />
</div>

<h1 style="margin-top: 20px;">Menus</h1>
<form asp-action="Menus" asp-controller="NutritionistInst" method="post">
    <div class="form-group text-left">
        <label for="categoryId" class="font-weight-bold">Menu:</label>
        <select name="categoryId" class="form-control col-1" onchange="showMenuInformation()">
            <option value="">Seleccionar una categoria</option>
            @if (ViewBag.Category != null) //check if there are menus available
            {
                @for (int i = 0; i < ViewBag.Category.Count; i++)
                {
                    <option value="@ViewBag.Category[i].Text">@ViewBag.Category[i].Text</option>
                }
            }
        </select>
    </div>

    <div id="menu-information">
        @Html.Partial("_MenuInformation")
    </div>


</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#selected-items-box").hide();
    });

</script>


<script>
     function showMenuInformation() {
         var selectedMenu = $("select[name='categoryId'] option:selected").val();
         if (selectedMenu != "") {
             $.ajax({
                 type: "POST",
                 url: "/NutritionistInst/GetMenu?menuCategory=" + selectedMenu,
                 success: function (data) {
                     $("#menu-information").html(data);
                 },
                 error: function (error) {
                     console.log(error);
                 }
             });
         } else {
             $("#menu-information").html("");
         }
     }
</script>
<script>
    window.onload = function () {
        if ('@TempData.ContainsKey("SuccessMessageR")' == "True") {
            alert('@TempData["SuccessMessageR"]');
        }
        if ('@TempData.ContainsKey("ErrorR")' == "True") {
            alert('@TempData["ErrorR"]');

        }
    };
</script>